openapi: 3.0.3
info:
  description: "Use the Invoicing API to create, send, and manage invoices. You can\
    \ also use the API or webhooks to track invoice payments. When you send an invoice\
    \ to a customer, the invoice moves from draft to payable state. PayPal then emails\
    \ the customer a link to the invoice on the PayPal website. Customers with a PayPal\
    \ account can log in and pay the invoice with PayPal. Alternatively, customers\
    \ can pay as a guest with a debit card or credit card. For more information, see\
    \ the <a href=\"/docs/invoicing/\">Invoicing Overview</a> and the <a href=\"/docs/invoicing/basic-integration/\"\
    >Invoicing Integration Guide</a>."
  title: Invoices
  version: "2.3"
externalDocs:
  url: https://developer.paypal.com/docs/api/invoicing/v2/
servers:
- description: PayPal Sandbox Environment
  url: https://api-m.sandbox.paypal.com
- description: PayPal Live Environment
  url: https://api-m.paypal.com
tags:
- description: "Use the `/invoices` resource to create, update, and send invoices\
    \ and invoice reminders. To manage invoices, you can also list invoices, show\
    \ details for invoices, delete draft invoices, and cancel sent invoices. You can\
    \ also record payments for invoices to mark them as fully or partially paid, or\
    \ record refunds for invoices to mark them as fully or partially refunded. You\
    \ can create QR codes for invoices that can be scanned, viewed, and paid by a\
    \ mobile phone."
  name: invoices
- description: Use the `/search-invoices` resource to search for and list invoices
    that match search criteria.
  name: search-invoices
- description: "Use the `/templates` resource to create, list, show details for, update,\
    \ and delete invoice templates. Use the `/templates` resource when you create\
    \ a third-party invoicing application. For instance, a business can create a template\
    \ with predefined invoice data. Later, the business can select the template to\
    \ populate the invoice data.<blockquote><strong>Note:</strong> To upload a logo\
    \ to display on an invoice, you can use the <strong>Template Settings</strong>\
    \ dashboard to <a href=\"https://www.paypal.com/invoice/settings/templates\">create\
    \ a template</a>. When you create an invoice, you can use the URI for that logo.</blockquote>"
  name: templates
- description: "Use the `/merchant-config` resource to create, update and show details\
    \ of merchant configuration."
  name: merchant-config
paths:
  /v2/invoicing/invoices:
    get:
      description: "Lists invoices. To filter the invoices that appear in the response,\
        \ you can specify one or more optional query parameters."
      operationId: invoices.list
      parameters:
      - description: "The page number to be retrieved, for the list of templates.\
          \ So, a combination of `page=1` and `page_size=20` returns the first 20\
          \ templates. A combination of `page=2` and `page_size=20` returns the next\
          \ 20 templates."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The maximum number of templates to return in the response.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Indicates whether the to show <code>total_pages</code> and <code>total_items</code>
          in the response.
        explode: true
        in: query
        name: total_required
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "The fields to return in the response. Value is `all` or `none`.\
          \ To return only the template name, ID, and default attributes, specify\
          \ `none`."
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          pattern: (?i)^(all|none)$
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices'
          description: A successful request returns the HTTP `200 OK` status code
            and a JSON response body that lists invoices with details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_list_400_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices_list_400_response'
          description: Invalid request.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_403'
          description: Authorization Error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/invoicing/invoices/read
      summary: List invoices
      tags:
      - invoices
      x-accepts: application/json
    post:
      description: "Creates a draft invoice. To move the invoice from a draft to payable\
        \ state, you must <a href=\"#invoices_send\">send the invoice</a>.<br/><br/>In\
        \ the JSON request body, include invoice details including merchant information.\
        \ The <code>invoice</code> object must include an <code>items</code> array.<blockquote><strong>Note:</strong>\
        \ The merchant that you specify in an invoice must have a PayPal account in\
        \ good standing.</blockquote>."
      operationId: invoices.create
      requestBody:
        content:
          application/json:
            examples:
              "0":
                $ref: '#/components/examples/invoice_draft'
            schema:
              $ref: '#/components/schemas/invoice'
        description: "The invoice details which includes all information of the invoice\
          \ like items, billing information."
        required: true
      responses:
        "201":
          content:
            application/json:
              examples:
                "0":
                  $ref: '#/components/examples/invoice'
              schema:
                $ref: '#/components/schemas/invoice'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoice'
          description: A successful request returns the HTTP `201 Created` status
            code. A JSON response body that shows invoice details is returned if you
            set <code>prefer=return=representation</code>.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_create_400_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices_create_400_response'
          description: Invalid request.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_403'
          description: Authorization Error.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_create_422_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices_create_422_response'
          description: Unprocessable Entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/invoicing/invoices/readwrite
      summary: Create draft invoice
      tags:
      - invoices
      x-content-type: application/json
      x-accepts: application/json
  /v2/invoicing/invoices/{invoice_id}/send:
    post:
      description: "Sends or schedules an invoice, by ID, to be sent to a customer.\
        \ The action depends on the invoice issue date:<ul><li>If the invoice issue\
        \ date is current or in the past, sends the invoice immediately.</li><li>If\
        \ the invoice issue date is in the future, schedules the invoice to be sent\
        \ on that date.</li></ul>To suppress the merchant's email notification, set\
        \ the `send_to_invoicer` body parameter to `false`. To send the invoice through\
        \ a share link and not through PayPal, set the <code>send_to_recipient</code>\
        \ parameter to <code>false</code> in the <code>notification</code> object.\
        \ The <code>send_to_recipient</code> parameter does not apply to a future\
        \ issue date because the invoice is scheduled to be sent through PayPal on\
        \ that date.<blockquote><strong>Notes:</strong><ul><li>After you send an invoice,\
        \ resending it has no effect.</li><li>To send a notification for updates,\
        \ <a href=\"#invoices_update\">update the invoice</a> and set the <code>send_to_recipient</code>\
        \ body parameter to <code>true</code>.</li></ul></blockquote>"
      operationId: invoices.send
      parameters:
      - description: The ID of the draft invoice to delete.
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              "0":
                $ref: '#/components/examples/notification_invoice'
            schema:
              $ref: '#/components/schemas/notification'
        description: The email or SMS notification to send to the payer when they
          send an invoice..
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/link_description'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/link_description'
          description: A successful request returns the HTTP `200 OK` when the invoice
            issue date is current date.
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/202-response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/202-response'
          description: "A successful request returns the HTTP `202 Accepted` status\
            \ code with no JSON response body, when the invoice issue date is in future."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_400'
          description: Invalid request.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_403'
          description: Authorization Error.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_404'
          description: Resource Not Found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_422'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_422'
          description: Unprocessable Entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/invoicing/invoices/readwrite
      summary: Send invoice
      tags:
      - invoices
      x-content-type: application/json
      x-accepts: application/json
  /v2/invoicing/invoices/{invoice_id}/remind:
    post:
      description: "Sends a reminder to the payer about an invoice, by ID. In the\
        \ JSON request body, include a `notification` object that defines the subject\
        \ of the reminder and other details."
      operationId: invoices.remind
      parameters:
      - description: The ID of the draft invoice to delete.
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              "0":
                $ref: '#/components/examples/notification_reminder'
            schema:
              $ref: '#/components/schemas/notification'
        description: The email or SMS notification that will be sent to the payer
          for reminder.
      responses:
        "204":
          description: A successful request returns the HTTP `204 No Content` status
            code with no JSON response body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_remind_400_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices_remind_400_response'
          description: Invalid request.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_remind_403_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices_remind_403_response'
          description: Authorization Error.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_404'
          description: Resource Not Found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_remind_422_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices_remind_422_response'
          description: Unprocessable Entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/invoicing/invoices/readwrite
      summary: Send invoice reminder
      tags:
      - invoices
      x-content-type: application/json
      x-accepts: application/json
  /v2/invoicing/invoices/{invoice_id}/cancel:
    post:
      description: "Cancels a sent invoice, by ID, and, optionally, sends a notification\
        \ about the cancellation to the payer, merchant, and CC: emails."
      operationId: invoices.cancel
      parameters:
      - description: The ID of the draft invoice to delete.
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              "0":
                $ref: '#/components/examples/notification_invoice_cancel'
            schema:
              $ref: '#/components/schemas/notification'
        description: The email or SMS notification that will be sent to the payer
          on cancellation.
        required: true
      responses:
        "204":
          description: A successful request returns the HTTP `204 No Content` status
            code with no JSON response body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_cancel_400_response'
          description: Invalid request.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_remind_403_response'
          description: Authorization Error.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
          description: Resource Not Found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_cancel_422_response'
          description: Unprocessable Entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/invoicing/invoices/readwrite
      summary: Cancel sent invoice
      tags:
      - invoices
      x-content-type: application/json
      x-accepts: application/json
  /v2/invoicing/invoices/{invoice_id}/payments:
    post:
      description: "Records a payment for the invoice. If no payment is due, the invoice\
        \ is marked as `PAID`. Otherwise, the invoice is marked as `PARTIALLY PAID`."
      operationId: invoices.payments
      parameters:
      - description: The ID of the draft invoice to delete.
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              "0":
                $ref: '#/components/examples/payment_detail'
            schema:
              $ref: '#/components/schemas/payment_detail'
        description: The details of the payment to record against the invoice.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payment_reference'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/payment_reference'
          description: A successful request returns the HTTP `200 Created` status
            code and a reference to the recorded payment.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_payments_400_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices_payments_400_response'
          description: Invalid request.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_remind_403_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices_remind_403_response'
          description: Authorization Error.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_404'
          description: Resource Not Found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_payments_422_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices_payments_422_response'
          description: Unprocessable Entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/invoicing/invoices/readwrite
      summary: Record payment for invoice
      tags:
      - invoices
      x-content-type: application/json
      x-accepts: application/json
  /v2/invoicing/invoices/{invoice_id}/payments/{transaction_id}:
    delete:
      description: "Deletes an external payment, by invoice ID and transaction ID."
      operationId: invoices.payments-delete
      parameters:
      - description: The ID of the draft invoice to delete.
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the external refund transaction to delete.
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: A successful request returns the HTTP `204 No Content` status
            code with no JSON response body.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_remind_403_response'
          description: Authorization Error.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
          description: Resource Not Found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_payments_delete_422_response'
          description: Unprocessable Entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/invoicing/invoices/readwrite
      summary: Delete external payment
      tags:
      - invoices
      x-accepts: application/json
  /v2/invoicing/invoices/{invoice_id}/refunds:
    post:
      description: "Records a refund for the invoice. If all payments are refunded,\
        \ the invoice is marked as `REFUNDED`. Otherwise, the invoice is marked as\
        \ `PARTIALLY REFUNDED`."
      operationId: invoices.refunds
      parameters:
      - description: The ID of the draft invoice to delete.
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              "0":
                $ref: '#/components/examples/refund_detail'
            schema:
              $ref: '#/components/schemas/refund_detail'
        description: The details of the refund to record against the invoice.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refund_reference'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/refund_reference'
          description: A successful request returns the HTTP `200 Created` status
            code and a reference to the recorded refund.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_refunds_400_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices_refunds_400_response'
          description: Invalid request.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_remind_403_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices_remind_403_response'
          description: Authorization Error.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_404'
          description: Resource Not Found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_refunds_422_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices_refunds_422_response'
          description: Unprocessable Entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/invoicing/invoices/readwrite
      summary: Record refund for invoice
      tags:
      - invoices
      x-content-type: application/json
      x-accepts: application/json
  /v2/invoicing/invoices/{invoice_id}/refunds/{transaction_id}:
    delete:
      description: "Deletes an external refund, by invoice ID and transaction ID."
      operationId: invoices.refunds-delete
      parameters:
      - description: The ID of the draft invoice to delete.
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the external refund transaction to delete.
        explode: false
        in: path
        name: transaction_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: A successful request returns the HTTP `204 No Content` status
            code with no JSON response body.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_remind_403_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices_remind_403_response'
          description: Authorization Error.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_404'
          description: Resource Not Found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/invoicing/invoices/readwrite
      summary: Delete external refund
      tags:
      - invoices
      x-accepts: application/json
  /v2/invoicing/invoices/{invoice_id}/generate-qr-code:
    post:
      description: "Generates a QR code for an invoice, by ID. The QR code is a PNG\
        \ image in <a href=\"https://www.base64encode.org/\">Base64-encoded</a> format\
        \ that corresponds to the invoice ID. You can generate a QR code for an invoice\
        \ and add it to a paper or PDF invoice. When customers use their mobile devices\
        \ to scan the QR code, they are redirected to the PayPal mobile payment flow\
        \ where they can view the invoice and pay online with PayPal or a credit card.\
        \ Before you get a QR code, you must <a href=\"#invoices_create\">create an\
        \ invoice</a> and <a href=\"#invoices_send\">send an invoice</a> to move the\
        \ invoice from a draft to payable state. Do not include an email address if\
        \ you do not want the invoice emailed."
      operationId: invoices.generate-qr-code
      parameters:
      - description: The ID of the draft invoice to delete.
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              "0":
                $ref: '#/components/examples/qr_config'
            schema:
              $ref: '#/components/schemas/qr_config'
        description: "Optional configuration parameters to adjust QR code width, height\
          \ and the encoded URL."
      responses:
        "200":
          description: A successful request returns the HTTP `200 OK` status code
            and a JSON response body that shows the QR code as a PNG image.
        "400":
          content:
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices_generate_qr_code_400_response'
          description: Invalid request.
        "403":
          content:
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices_remind_403_response'
          description: Authorization Error.
        "404":
          content:
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_404'
          description: Resource Not Found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/invoicing/invoices/readwrite
      summary: Generate QR code
      tags:
      - invoices
      x-content-type: application/json
      x-accepts: application/json
  /v2/invoicing/generate-next-invoice-number:
    post:
      description: "Generates the next invoice number that is available to the merchant.\
        \ The next invoice number uses the prefix and suffix from the last invoice\
        \ number and increments the number by one. For example, the next invoice number\
        \ after `INVOICE-1234` is `INVOICE-1235`."
      operationId: invoicing.generate-next-invoice-number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice_number'
          description: A successful request returns the HTTP `200 OK` status code
            and a JSON response body that shows the next invoice number.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
          description: Authorization Error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/invoicing/invoices/readwrite
      summary: Generate invoice number
      tags:
      - invoices
      x-accepts: application/json
  /v2/invoicing/invoices/{invoice_id}:
    delete:
      description: "Deletes a draft or scheduled invoice, by ID. Deletes invoices\
        \ in the draft or scheduled state only. For invoices that have already been\
        \ sent, you can <a href=\"/docs/api/invoicing/v2/#invoices_cancel\">cancel\
        \ the invoice</a>. After you delete a draft or scheduled invoice, you can\
        \ no longer use it or show its details. However, you can reuse its invoice\
        \ number."
      operationId: invoices.delete
      parameters:
      - description: The ID of the draft invoice to delete.
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: A successful request returns the HTTP `204 No Content` status
            code with no JSON response body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
          description: Invalid request.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_remind_403_response'
          description: Authorization Error.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
          description: Resource Not Found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/invoicing/invoices/readwrite
      summary: Delete invoice
      tags:
      - invoices
      x-accepts: application/json
    get:
      description: "Shows details for an invoice, by ID."
      operationId: invoices.get
      parameters:
      - description: The ID of the draft invoice to delete.
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
          description: A successful request returns the HTTP `200 OK` status code
            and a JSON response body that shows invoice details.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
          description: Invalid request.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_remind_403_response'
          description: Authorization Error.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
          description: Resource Not Found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_422'
          description: Unprocessable Entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/invoicing/invoices/read
      summary: Show invoice details
      tags:
      - invoices
      x-accepts: application/json
    put:
      description: "Fully updates an invoice, by ID. In the JSON request body, include\
        \ a complete `invoice` object. This call does not support partial updates."
      operationId: invoices.update
      parameters:
      - description: The ID of the draft invoice to delete.
        explode: false
        in: path
        name: invoice_id
        required: true
        schema:
          type: string
        style: simple
      - description: Indicates whether to send the invoice update notification to
          the recipient.
        explode: true
        in: query
        name: send_to_recipient
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Indicates whether to send the invoice update notification to
          the merchant.
        explode: true
        in: query
        name: send_to_invoicer
        required: false
        schema:
          default: true
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/invoice'
        description: A representation of changes to make in the invoice.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoice'
          description: A successful request returns the HTTP `200 OK` status code.
            A JSON response body that shows invoice details is returned if you set
            <code>prefer=return=representation</code>.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_update_400_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices_update_400_response'
          description: Invalid request.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_remind_403_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices_remind_403_response'
          description: Authorization Error.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_404'
          description: Resource Not Found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_create_422_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices_create_422_response'
          description: Unprocessable Entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/invoicing/invoices/readwrite
      summary: Fully update invoice
      tags:
      - invoices
      x-content-type: application/json
      x-accepts: application/json
  /v2/invoicing/search-invoices:
    post:
      description: "Searches for and lists invoices that match search criteria. If\
        \ you pass multiple criteria, the response lists invoices that match all criteria."
      operationId: invoices.search-invoices
      parameters:
      - description: "The page number to be retrieved, for the list of templates.\
          \ So, a combination of `page=1` and `page_size=20` returns the first 20\
          \ templates. A combination of `page=2` and `page_size=20` returns the next\
          \ 20 templates."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The maximum number of templates to return in the response.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Indicates whether the to show <code>total_pages</code> and <code>total_items</code>
          in the response.
        explode: true
        in: query
        name: total_required
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            examples:
              "0":
                $ref: '#/components/examples/search_data'
            schema:
              $ref: '#/components/schemas/search_data'
        description: The invoice search can be used to retrieve the invoices based
          on the search parameters.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices'
          description: A successful request returns the HTTP `200 OK` status code
            and a JSON response body that lists the invoices that match the search
            criteria.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_search_invoices_400_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices_search_invoices_400_response'
          description: Invalid request.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_403'
          description: Authorization Error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/invoicing/invoices/read
      summary: Search for invoices
      tags:
      - search-invoices
      x-content-type: application/json
      x-accepts: application/json
  /v2/invoicing/templates:
    get:
      description: "Lists merchant-created templates with associated details. The\
        \ associated details include the emails, addresses, and phone numbers from\
        \ the user's PayPal profile.<br/>The user can select which values to show\
        \ in the business information section of their template."
      operationId: templates.list
      parameters:
      - description: "The fields to return in the response. Value is `all` or `none`.\
          \ To return only the template name, ID, and default attributes, specify\
          \ `none`."
        explode: true
        in: query
        name: fields
        required: false
        schema:
          default: all
          pattern: (?i)^(all|none)$
          type: string
        style: form
      - description: "The page number to be retrieved, for the list of templates.\
          \ So, a combination of `page=1` and `page_size=20` returns the first 20\
          \ templates. A combination of `page=2` and `page_size=20` returns the next\
          \ 20 templates."
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: The maximum number of templates to return in the response.
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/templates'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/templates'
          description: A successful request returns the HTTP `200 OK` status code
            and a JSON response body that lists invoices.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_list_400_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/invoices_list_400_response'
          description: Invalid request.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_403'
          description: Authorization Error.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/invoicing/invoices/read
      summary: List templates
      tags:
      - templates
      x-accepts: application/json
    post:
      description: "Creates an invoice template. You can use details from this template\
        \ to create an invoice. You can create up to 50 templates.<blockquote><strong>Note:</strong>\
        \ Every merchant starts with three PayPal system templates that are optimized\
        \ for the unit type billed. The template includes `Quantity`, `Hours`, and\
        \ `Amount`.</blockquote>"
      operationId: templates.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/template'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/template'
          description: A successful request returns the HTTP `201 Created` status
            code. A JSON response body that shows template details is returned if
            you set <code>prefer=return=representation</code>.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/templates_create_400_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/templates_create_400_response'
          description: Invalid request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/templates_create_422_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/templates_create_422_response'
          description: Unprocessable Entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/invoicing/invoices/readwrite
      summary: Create template
      tags:
      - templates
      x-content-type: application/json
      x-accepts: application/json
  /v2/invoicing/templates/{template_id}:
    delete:
      description: "Deletes a template, by ID."
      operationId: templates.delete
      parameters:
      - description: The ID of the template to delete.
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: A successful request returns the HTTP `204 No Content` status
            code with no JSON response body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_400'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_400'
          description: Invalid request.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/templates_delete_403_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/templates_delete_403_response'
          description: Authorization Error.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_404'
          description: Resource Not Found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_422'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_422'
          description: Unprocessable Entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/invoicing/invoices/readwrite
      summary: Delete template
      tags:
      - templates
      x-accepts: application/json
    get:
      description: "Shows details for a template, by ID."
      operationId: templates.get
      parameters:
      - description: The ID of the template to delete.
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                "0":
                  $ref: '#/components/examples/template'
                "1":
                  $ref: '#/components/examples/template_1'
              schema:
                $ref: '#/components/schemas/template'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/template'
          description: A successful request returns the HTTP `200 OK` status code
            and a JSON response body that shows template details.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/templates_get_403_response'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/templates_get_403_response'
          description: Authorization Error.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/error_404'
          description: Resource Not Found.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/invoicing/invoices/read
      summary: Show template details
      tags:
      - templates
      x-accepts: application/json
    put:
      description: "Fully updates a template, by ID. In the JSON request body, include\
        \ a complete `template` object. This call does not support partial updates."
      operationId: templates.update
      parameters:
      - description: The ID of the template to delete.
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/template'
        description: A representation of changes to make in the template.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/template'
          description: A successful request returns the HTTP `200 OK` status code.
            A JSON response body that shows template details is returned if you set
            <code>prefer=return=representation</code>.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/templates_update_400_response'
          description: Invalid request.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoices_remind_403_response'
          description: Authorization Error.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
          description: Resource Not Found.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/templates_update_422_response'
          description: Unprocessable Entity.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_default'
          description: The default response.
      security:
      - Oauth2:
        - https://uri.paypal.com/services/invoicing/invoices/readwrite
      summary: Fully update template
      tags:
      - templates
      x-content-type: application/json
      x-accepts: application/json
components:
  examples:
    invoice:
      value:
        detail:
          invoice_number: '#123'
          reference: deal-ref
          invoice_date: 2018-11-12
          currency_code: USD
          note: Thank you for your business.
          term: No refunds after 30 days.
          memo: This is a long contract
          payment_term:
            term_type: NET_10
            due_date: 2018-11-22
        invoicer:
          name:
            given_name: David
            surname: Larusso
          address:
            address_line_1: 1234 First Street
            address_line_2: 337673 Hillside Court
            admin_area_2: Anytown
            admin_area_1: CA
            postal_code: "98765"
            country_code: US
          email_address: merchant@example.com
          phones:
          - country_code: "001"
            national_number: "4085551234"
            phone_type: MOBILE
          website: www.test.com
          tax_id: ABcNkWSfb5ICTt73nD3QON1fnnpgNKBy- Jb5SeuGj185MNNw6g
          logo_url: https://example.com/logo.PNG
          additional_notes: 2-4
        primary_recipients:
        - billing_info:
            name:
              given_name: Stephanie
              surname: Meyers
            address:
              address_line_1: 1234 Main Street
              admin_area_2: Anytown
              admin_area_1: CA
              postal_code: "98765"
              country_code: US
            email_address: bill-me@example.com
            phones:
            - country_code: "001"
              national_number: "4884551234"
              phone_type: HOME
            additional_info_value: add-info
          shipping_info:
            name:
              given_name: Stephanie
              surname: Meyers
            address:
              address_line_1: 1234 Main Street
              admin_area_2: Anytown
              admin_area_1: CA
              postal_code: "98765"
              country_code: US
        items:
        - name: Yoga Mat
          description: Elastic mat to practice yoga.
          quantity: "1"
          unit_amount:
            currency_code: USD
            value: "50.00"
          tax:
            name: Sales Tax
            percent: "7.25"
          discount:
            percent: "5"
          unit_of_measure: QUANTITY
        - name: Yoga t-shirt
          quantity: "1"
          unit_amount:
            currency_code: USD
            value: "10.00"
          tax:
            name: Sales Tax
            percent: "7.25"
          discount:
            amount:
              currency_code: USD
              value: "5.00"
          unit_of_measure: QUANTITY
        configuration:
          partial_payment:
            allow_partial_payment: true
            minimum_amount_due:
              currency_code: USD
              value: "20.00"
          allow_tip: true
          tax_calculated_after_discount: true
          tax_inclusive: false
          template_id: TEMP-19V05281TU309413B
        amount:
          breakdown:
            custom:
              label: Packing Charges
              amount:
                currency_code: USD
                value: "10.00"
            shipping:
              amount:
                currency_code: USD
                value: "10.00"
              tax:
                name: Sales Tax
                percent: "7.25"
            discount:
              invoice_discount:
                percent: "5"
    invoice_draft:
      value:
        id: INV2-C82X-JNN9-Y6S5-CNXW
        status: DRAFT
        detail:
          invoice_number: '#123'
          reference: deal-refernce-update
          invoice_date: 2018-11-12
          currency_code: USD
          note: Thank you for your business.
          term: No refunds after 30 days.
          memo: This is a long contract
          payment_term:
            term_type: NET_10
            due_date: 2018-11-22
        invoicer:
          name:
            given_name: David
            surname: Larusso
          address:
            address_line_1: 1234 First Street
            address_line_2: 337673 Hillside Court
            admin_area_2: Anytown
            admin_area_1: CA
            postal_code: "98765"
            country_code: US
          email_address: merchant@example.com
          phones:
          - country_code: "001"
            national_number: "4085551234"
            phone_type: MOBILE
          website: www.test.com
          tax_id: ABcNkWSfb5ICTt73nD3QON1fnnpgNKBy-Jb5SeuGj185MNNw6g
          logo_url: https://example.com/logo.PNG
          additional_notes: 2-4
        primary_recipients:
        - billing_info:
            name:
              given_name: Stephanie
              surname: Meyers
            address:
              address_line_1: 1234 Main Street
              admin_area_2: Anytown
              admin_area_1: CA
              postal_code: "98765"
              country_code: US
            email_address: bill-me@example.com
            phones:
            - country_code: "001"
              national_number: "4884551234"
              phone_type: HOME
            additional_info_value: add-info
          shipping_info:
            name:
              given_name: Stephanie
              surname: Meyers
            address:
              address_line_1: 1234 Main Street
              admin_area_2: Anytown
              admin_area_1: CA
              postal_code: "98765"
              country_code: US
        items:
        - name: Yoga Mat
          description: Elastic mat to practice yoga.
          quantity: "1"
          unit_amount:
            currency_code: USD
            value: "50.00"
          tax:
            name: Sales Tax
            percent: "7.25"
            amount:
              currency_code: USD
              value: "3.27"
          discount:
            percent: "5"
            amount:
              currency_code: USD
              value: "2.5"
          unit_of_measure: QUANTITY
        - name: Yoga t-shirt
          quantity: "1"
          unit_amount:
            currency_code: USD
            value: "10.00"
          tax:
            name: Sales Tax
            percent: "7.25"
            amount:
              currency_code: USD
              value: "0.34"
          discount:
            amount:
              currency_code: USD
              value: "5.00"
          unit_of_measure: QUANTITY
        configuration:
          partial_payment:
            allow_partial_payment: true
            minimum_amount_due:
              currency_code: USD
              value: "20.00"
          allow_tip: true
          tax_calculated_after_discount: true
          tax_inclusive: false
          template_id: TEMP-19V05281TU309413B
        amount:
          currency_code: USD
          value: "74.21"
          breakdown:
            item_total:
              currency_code: USD
              value: "60.00"
            custom:
              label: Packing Charges
              amount:
                currency_code: USD
                value: "10.00"
            shipping:
              amount:
                currency_code: USD
                value: "10.00"
              tax:
                name: Sales Tax
                percent: "7.25"
                amount:
                  currency_code: USD
                  value: "0.73"
            discount:
              item_discount:
                currency_code: USD
                value: "-7.50"
              invoice_discount:
                percent: "5"
                amount:
                  currency_code: USD
                  value: "-2.63"
            tax_total:
              currency_code: USD
              value: "4.34"
    payment_detail:
      value:
        method: BANK_TRANSFER
        payment_date: 2018-05-01
        amount:
          currency_code: USD
          value: "10.00"
    refund_detail:
      value:
        method: BANK_TRANSFER
        refund_date: 2018-05-21
        amount:
          currency_code: USD
          value: "5.00"
    qr_config:
      value:
        width: 400
        height: 400
    search_data:
      value:
        total_amount_range:
          lower_amount:
            currency_code: USD
            value: "50.00"
          upper_amount:
            currency_code: USD
            value: "50.00"
        invoice_date_range:
          start: 2018-06-01
          end: 2018-06-21
    template:
      value:
        default_template: true
        template_info:
          configuration:
            tax_calculated_after_discount: true
            tax_inclusive: false
            allow_tip: true
            partial_payment:
              allow_partial_payment: true
              minimum_amount_due:
                currency_code: USD
                value: "20.00"
          detail:
            reference: deal-ref
            note: Thank you for your business.
            currency_code: USD
            terms_and_conditions: No refunds after 30 days.
            memo: This is a long contract
            attachments:
            - id: Screen Shot 2018-11-23 at 16.45.01.png
              reference_url: https://api-m.paypal.com/invoice/payerView/attachments/RkG9ggQbd4Mwm1tYdcF6uuixfFTFq32bBdbE1VbtQLdKSoS2ZOYpfjw9gPp7eTrZmVaFaDWzixHXm-OXWHbmigHigHzURDxJs8IIKqcqP8jawnBEZcraEAPVMULxf5iTyOSpAUc2ugW0PWdwDbM6mg-guFAUyj3Z98H7htWNjQY95jb9heOlcSXUe.sbDUR9smAszzzJoA1NXT6rEEegwQ&version=1&sig=JNODB0xEayW8txMQm6ZsIwDnd4eh3hd6ijiRLi4ipHE
            payment_term:
              term_type: NET_10
          invoicer:
            name:
              given_name: David
              surname: Larusso
            address:
              address_line_1: 1234 First Street
              address_line_2: 337673 Hillside Court
              admin_area_2: Anytown
              admin_area_1: CA
              postal_code: "98765"
              country_code: US
            email_address: merchant@example.com
            phones:
            - country_code: "001"
              national_number: "4085551234"
              phone_type: MOBILE
            website: www.test.com
            tax_id: ABcNkWSfb5ICTt73nD3QON1fnnpgNKBy-Jb5SeuGj185MNNw6g
            logo_url: https://example.com/logo.PNG
            additional_notes: 2-4
          primary_recipients:
          - billing_info:
              name:
                given_name: Stephanie
                surname: Meyers
              address:
                address_line_1: 1234 Main Street
                admin_area_2: Anytown
                admin_area_1: CA
                postal_code: "98765"
                country_code: US
              email_address: bill-me@example.com
              phones:
              - country_code: "001"
                national_number: "4884551234"
                phone_type: MOBILE
              additional_info: add-info
            shipping_info:
              name:
                given_name: Stephanie
                surname: Meyers
              address:
                address_line_1: 1234 Main Street
                admin_area_2: Anytown
                admin_area_1: CA
                postal_code: "98765"
                country_code: US
          additional_recipients:
          - inform-me@example.com
          items:
          - name: Yoga Mat
            description: new watch
            quantity: "1"
            unit_amount:
              currency_code: USD
              value: "50.00"
            tax:
              name: Sales Tax
              percent: "7.25"
            discount:
              percent: "5"
            unit_of_measure: QUANTITY
          - name: Yoga T Shirt
            quantity: "1"
            unit_amount:
              currency_code: USD
              value: "10.00"
            tax:
              name: Sales Tax
              percent: "7.25"
            discount:
              amount:
                currency_code: USD
                value: "5.00"
            unit_of_measure: QUANTITY
          amount:
            currency_code: USD
            value: "74.21"
            breakdown:
              custom:
                label: Packing Charges
                amount:
                  currency_code: USD
                  value: "10.00"
              shipping:
                amount:
                  currency_code: USD
                  value: "10.00"
                tax:
                  name: Sales Tax
                  percent: "7.25"
              discount:
                invoice_discount:
                  percent: "5"
        settings:
          template_item_settings:
          - field_name: ITEMS_DATE
            display_preference:
              hidden: true
          - field_name: ITEMS_DISCOUNT
            display_preference:
              hidden: false
          - field_name: ITEMS_TAX
            display_preference:
              hidden: false
          - field_name: ITEMS_DESCRIPTION
            display_preference:
              hidden: false
          - field_name: ITEMS_QUANTITY
            display_preference:
              hidden: true
          template_subtotal_settings:
          - field_name: CUSTOM
            display_preference:
              hidden: false
          - field_name: DISCOUNT
            display_preference:
              hidden: false
          - field_name: SHIPPING
            display_preference:
              hidden: false
        unit_of_measure: QUANTITY
        standard_template: false
    template_1:
      value:
        default_template: true
        template_info:
          configuration:
            tax_calculated_after_discount: true
            tax_inclusive: false
            allow_tip: true
            partial_payment:
              allow_partial_payment: true
              minimum_amount_due:
                currency_code: USD
                value: "20.00"
          detail:
            reference: deal-ref
            note: Thank you for your business.
            currency_code: USD
            terms_and_conditions: No refunds after 30 days.
            memo: This is a long contract
            attachments:
            - id: Screen Shot 2018-11-23 at 16.45.01.png
              reference_url: https://api-m.paypal.com/invoice/payerView/attachments/RkG9ggQbd4Mwm1tYdcF6uuixfFTFq32bBdbE1VbtQLdKSoS2ZOYpfjw9gPp7eTrZmVaFaDWzixHXm-OXWHbmigHigHzURDxJs8IIKqcqP8jawnBEZcraEAPVMULxf5iTyOSpAUc2ugW0PWdwDbM6mg-guFAUyj3Z98H7htWNjQY95jb9heOlcSXUe.sbDUR9smAszzzJoA1NXT6rEEegwQ&version=1&sig=JNODB0xEayW8txMQm6ZsIwDnd4eh3hd6ijiRLi4ipHE
            payment_term:
              term_type: NET_10
          invoicer:
            name:
              given_name: David
              surname: Larusso
            address:
              address_line_1: 1234 First Street
              address_line_2: 337673 Hillside Court
              admin_area_2: Anytown
              admin_area_1: CA
              postal_code: "98765"
              country_code: US
            email_address: merchant@example.com
            phones:
            - country_code: "001"
              national_number: "4085551234"
              phone_type: MOBILE
            website: www.test.com
            tax_id: ABcNkWSfb5ICTt73nD3QON1fnnpgNKBy-Jb5SeuGj185MNNw6g
            logo_url: https://example.com/logo.PNG
            additional_notes: 2-4
          primary_recipients:
          - billing_info:
              name:
                given_name: Stephanie
                surname: Meyers
              address:
                address_line_1: 1234 Main Street
                admin_area_2: Anytown
                admin_area_1: CA
                postal_code: "98765"
                country_code: US
              email_address: bill-me@example.com
              phones:
              - country_code: "001"
                national_number: "4884551234"
                phone_type: MOBILE
              additional_info: add-info
            shipping_info:
              name:
                given_name: Stephanie
                surname: Meyers
              address:
                address_line_1: 1234 Main Street
                admin_area_2: Anytown
                admin_area_1: CA
                postal_code: "98765"
                country_code: US
          additional_recipients:
          - inform-me@example.com
          items:
          - name: Yoga Mat
            description: new watch
            quantity: "1"
            unit_amount:
              currency_code: USD
              value: "50.00"
            tax:
              name: Sales Tax
              percent: "7.25"
            discount:
              percent: "5"
            unit_of_measure: QUANTITY
          - name: Yoga T Shirt
            quantity: "1"
            unit_amount:
              currency_code: USD
              value: "10.00"
            tax:
              name: Sales Tax
              percent: "7.25"
            discount:
              amount:
                currency_code: USD
                value: "5.00"
            unit_of_measure: QUANTITY
          amount:
            currency_code: USD
            value: "74.21"
            breakdown:
              custom:
                label: Packing Charges
                amount:
                  currency_code: USD
                  value: "10.00"
              shipping:
                amount:
                  currency_code: USD
                  value: "10.00"
                tax:
                  name: Sales Tax
                  percent: "7.25"
              discount:
                invoice_discount:
                  percent: "5"
        settings:
          template_item_settings:
          - field_name: ITEMS_DATE
            display_preference:
              hidden: true
          - field_name: ITEMS_DISCOUNT
            display_preference:
              hidden: false
          - field_name: ITEMS_TAX
            display_preference:
              hidden: false
          - field_name: ITEMS_DESCRIPTION
            display_preference:
              hidden: false
          - field_name: ITEMS_QUANTITY
            display_preference:
              hidden: true
          template_subtotal_settings:
          - field_name: CUSTOM
            display_preference:
              hidden: false
          - field_name: DISCOUNT
            display_preference:
              hidden: false
          - field_name: SHIPPING
            display_preference:
              hidden: false
        unit_of_measure: QUANTITY
        standard_template: false
    notification_invoice:
      value:
        send_to_invoicer: true
    notification_invoice_cancel:
      value:
        subject: Invoice Cancelled
        note: Cancelling the invoice
        send_to_invoicer: true
        send_to_recipient: true
        additional_recipients:
        - user@example.com
    notification_reminder:
      value:
        subject: "Reminder: Payment due for the invoice #ABC-123"
        note: Please pay before the due date to avoid incurring late payment charges
          which will be adjusted in the next bill generated.
        send_to_invoicer: true
        additional_recipients:
        - customer-a@example.com
        - customer@example.com
  parameters:
    page:
      description: "The page number to be retrieved, for the list of templates. So,\
        \ a combination of `page=1` and `page_size=20` returns the first 20 templates.\
        \ A combination of `page=2` and `page_size=20` returns the next 20 templates."
      explode: true
      in: query
      name: page
      required: false
      schema:
        default: 1
        maximum: 1000
        minimum: 1
        type: integer
      style: form
    page_size:
      description: The maximum number of templates to return in the response.
      explode: true
      in: query
      name: page_size
      required: false
      schema:
        default: 20
        maximum: 100
        minimum: 1
        type: integer
      style: form
    total_required:
      description: Indicates whether the to show <code>total_pages</code> and <code>total_items</code>
        in the response.
      explode: true
      in: query
      name: total_required
      required: false
      schema:
        default: false
        type: boolean
      style: form
    fields:
      description: "The fields to return in the response. Value is `all` or `none`.\
        \ To return only the template name, ID, and default attributes, specify `none`."
      explode: true
      in: query
      name: fields
      required: false
      schema:
        default: all
        pattern: (?i)^(all|none)$
        type: string
      style: form
    invoice_id:
      description: The ID of the draft invoice to delete.
      explode: false
      in: path
      name: invoice_id
      required: true
      schema:
        type: string
      style: simple
    transaction_id:
      description: The ID of the external refund transaction to delete.
      explode: false
      in: path
      name: transaction_id
      required: true
      schema:
        type: string
      style: simple
    send_to_recipient:
      description: Indicates whether to send the invoice update notification to the
        recipient.
      explode: true
      in: query
      name: send_to_recipient
      required: false
      schema:
        default: true
        type: boolean
      style: form
    send_to_invoicer:
      description: Indicates whether to send the invoice update notification to the
        merchant.
      explode: true
      in: query
      name: send_to_invoicer
      required: false
      schema:
        default: true
        type: boolean
      style: form
    template_id:
      description: The ID of the template to delete.
      explode: false
      in: path
      name: template_id
      required: true
      schema:
        type: string
      style: simple
  responses:
    default:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_default'
      description: The default response.
  schemas:
    "400":
      properties:
        issues:
          items:
            anyOf:
               - type: string
            nullable: true
          type: array
    "403":
      properties:
        issues:
          items:
            anyOf:
               - type: string
            nullable: true
          type: array
    "422":
      properties:
        issues:
          items:
            anyOf:
               - type: string
            nullable: true
          type: array
    error_details:
      description: The error details. Required for client-side `4XX` errors.
      properties:
        field:
          description: "The field that caused the error. If this field is in the body,\
            \ set this value to the field's JSON pointer value. Required for client-side\
            \ errors."
          type: string
        value:
          description: The value of the field that caused the error.
          type: string
        location:
          default: body
          description: "The location of the field that caused the error. Value is\
            \ `body`, `path`, or `query`."
          type: string
        issue:
          description: "The unique, fine-grained application-level error code."
          type: string
        description:
          description: "The human-readable description for an issue. The description\
            \ can change over the lifetime of an API, so clients must not depend on\
            \ this value."
          type: string
      required:
      - issue
      title: Error Details
      type: object
    error_default:
      description: The default error response.
      oneOf:
      - $ref: '#/components/schemas/error_400'
      - $ref: '#/components/schemas/error_401'
      - $ref: '#/components/schemas/error_403'
      - $ref: '#/components/schemas/error_404'
      - $ref: '#/components/schemas/error_409'
      - $ref: '#/components/schemas/error_415'
      - $ref: '#/components/schemas/error_422'
      - $ref: '#/components/schemas/error_500'
      - $ref: '#/components/schemas/error_503'
    error_400:
      description: Error response for 400
      properties:
        name:
          enum:
          - INVALID_REQUEST
          type: string
        message:
          enum:
          - "Request is not well-formed, syntactically incorrect, or violates schema."
          type: string
        issues:
          items:
            $ref: '#/components/schemas/error_details'
          type: array
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        information_link:
          description: "The information link, or URI, that shows detailed information\
            \ about this error for the developer."
          readOnly: true
          type: string
      title: 400 Error
      type: object
    error_401:
      description: Error response for 401
      properties:
        name:
          enum:
          - AUTHENTICATION_FAILURE
          type: string
        message:
          enum:
          - "Authentication failed due to missing authorization header, or invalid\
            \ authentication credentials."
          type: string
        issues:
          items:
            $ref: '#/components/schemas/error_details'
          type: array
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        information_link:
          description: "The information link, or URI, that shows detailed information\
            \ about this error for the developer."
          readOnly: true
          type: string
      title: 401 Error
      type: object
    error_403:
      description: Error response for 403
      properties:
        name:
          enum:
          - NOT_AUTHORIZED
          type: string
        message:
          enum:
          - Authorization failed due to insufficient permissions.
          type: string
        issues:
          items:
            $ref: '#/components/schemas/error_details'
          type: array
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        information_link:
          description: "The information link, or URI, that shows detailed information\
            \ about this error for the developer."
          readOnly: true
          type: string
      title: 403 Error
      type: object
    error_404:
      description: Error response for 404
      properties:
        name:
          enum:
          - RESOURCE_NOT_FOUND
          type: string
        message:
          enum:
          - The specified resource does not exist.
          type: string
        issues:
          items:
            $ref: '#/components/schemas/error_details'
          type: array
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        information_link:
          description: "The information link, or URI, that shows detailed information\
            \ about this error for the developer."
          readOnly: true
          type: string
      title: 404 Error
      type: object
    error_409:
      description: Error response for 409
      properties:
        name:
          enum:
          - RESOURCE_CONFLICT
          type: string
        message:
          enum:
          - The server has detected a conflict while processing this request.
          type: string
        issues:
          items:
            $ref: '#/components/schemas/error_details'
          type: array
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        information_link:
          description: "The information link, or URI, that shows detailed information\
            \ about this error for the developer."
          readOnly: true
          type: string
      title: 409 Error
      type: object
    error_415:
      description: Error response for 415
      properties:
        name:
          enum:
          - UNSUPPORTED_MEDIA_TYPE
          type: string
        message:
          enum:
          - The server does not support the request payload's media type.
          type: string
        issues:
          items:
            $ref: '#/components/schemas/error_details'
          type: array
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        information_link:
          description: "The information link, or URI, that shows detailed information\
            \ about this error for the developer."
          readOnly: true
          type: string
      title: 409 Error
      type: object
    error_422:
      description: Error response for 422
      properties:
        name:
          enum:
          - UNPROCESSABLE_ENTITY
          type: string
        message:
          enum:
          - "The requested action could not be performed, semantically incorrect,\
            \ or failed business validation."
          type: string
        issues:
          items:
            $ref: '#/components/schemas/error_details'
          type: array
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        information_link:
          description: "The information link, or URI, that shows detailed information\
            \ about this error for the developer."
          readOnly: true
          type: string
      title: 422 Error
      type: object
    error_500:
      description: Error response for 500
      example:
        name: INTERNAL_SERVER_ERROR
        message: An internal server error occurred.
        debug_id: 90957fca61718
        information_link: https://developer.paypal.com/api/orders/v2/#error-INTERNAL_SERVER_ERROR
      properties:
        name:
          enum:
          - INTERNAL_SERVER_ERROR
          type: string
        message:
          enum:
          - An internal server error occurred.
          type: string
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        information_link:
          description: "The information link, or URI, that shows detailed information\
            \ about this error for the developer."
          enum:
          - https://developer.paypal.com/api/orders/v2/#error-INTERNAL_SERVER_ERROR
          readOnly: true
          type: string
      title: 500 Error
      type: object
    error_503:
      description: Error response for 503
      example:
        name: SERVICE_UNAVAILABLE
        message: Service Unavailable.
        debug_id: 90957fca61718
        information_link: https://developer.paypal.com/docs/api/orders/v2/#error-SERVICE_UNAVAILABLE
      properties:
        name:
          enum:
          - SERVICE_UNAVAILABLE
          type: string
        message:
          enum:
          - Service Unavailable.
          type: string
        debug_id:
          description: The PayPal internal ID. Used for correlation purposes.
          type: string
        information_link:
          description: "The information link, or URI, that shows detailed information\
            \ about this error for the developer."
          readOnly: true
          type: string
      title: 503 Error
      type: object
    invoice_status:
      description: The status of the invoice.
      enum:
      - DRAFT
      - SENT
      - SCHEDULED
      - PAID
      - MARKED_AS_PAID
      - CANCELLED
      - REFUNDED
      - PARTIALLY_PAID
      - PARTIALLY_REFUNDED
      - MARKED_AS_REFUNDED
      - UNPAID
      - PAYMENT_PENDING
      title: Invoice Status
      type: string
    currency_code:
      description: "The [three-character ISO-4217 currency code](/docs/integration/direct/rest/currency-codes/)\
        \ that identifies the currency."
      format: ppaas_common_currency_code_v2
      maxLength: 3
      minLength: 3
      type: string
    date_time:
      description: "The date and time, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).\
        \ Seconds are required while fractional seconds are optional.<blockquote><strong>Note:</strong>\
        \ The regular expression provides guidance but does not reject all invalid\
        \ dates.</blockquote>"
      format: ppaas_date_time_v3
      maxLength: 64
      minLength: 20
      pattern: "^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])[T,t]([0-1][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)([.][0-9]+)?([Zz]|[+-][0-9]{2}:[0-9]{2})$"
      type: string
    file_reference:
      description: "The file reference. Can be a file in PayPal MediaServ, PayPal\
        \ DMS, or other custom store."
      properties:
        id:
          description: The ID of the referenced file.
          maxLength: 255
          minLength: 1
          type: string
        reference_url:
          description: The reference URL for the file.
          format: uri
          maxLength: 2000
          minLength: 1
          type: string
        content_type:
          description: "The [Internet Assigned Numbers Authority (IANA) media type\
            \ of the file](https://www.iana.org/assignments/media-types/media-types.xhtml)."
          type: string
        create_time:
          description: "The date and time, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).\
            \ Seconds are required while fractional seconds are optional.<blockquote><strong>Note:</strong>\
            \ The regular expression provides guidance but does not reject all invalid\
            \ dates.</blockquote>"
          format: ppaas_date_time_v3
          maxLength: 64
          minLength: 20
          pattern: "^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])[T,t]([0-1][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)([.][0-9]+)?([Zz]|[+-][0-9]{2}:[0-9]{2})$"
          type: string
        size:
          description: "The size of the file, in bytes."
          pattern: "^[0-9]+$"
          type: string
      title: File Reference
      type: object
    detail:
      description: "The details of the invoice like notes, terms and conditions, memo,\
        \ attachments."
      properties:
        reference:
          description: The reference data. Includes a post office (PO) number.
          maxLength: 120
          type: string
        currency_code:
          description: "The [three-character ISO-4217 currency code](/docs/integration/direct/rest/currency-codes/)\
            \ that identifies the currency."
          format: ppaas_common_currency_code_v2
          maxLength: 3
          minLength: 3
          type: string
        note:
          description: A note to the invoice recipient. Also appears on the invoice
            notification email.
          maxLength: 4000
          type: string
        terms_and_conditions:
          description: The general terms of the invoice. Can include return or cancellation
            policy and other terms and conditions.
          maxLength: 4000
          type: string
        memo:
          description: A private bookkeeping memo for the user.
          maxLength: 500
          type: string
        attachments:
          description: An array of PayPal IDs for the files that are attached to an
            invoice.
          items:
            $ref: '#/components/schemas/file_reference'
          maximum: 5
          type: array
      required:
      - currency_code
      title: Invoice_Detail
    date_no_time:
      description: "The stand-alone date, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).\
        \ To represent special legal values, such as a date of birth, you should use\
        \ dates with no associated time or time-zone data. Whenever possible, use\
        \ the standard `date_time` type. This regular expression does not validate\
        \ all dates. For example, February 31 is valid and nothing is known about\
        \ leap years."
      format: ppaas_date_notime_v2
      maxLength: 10
      minLength: 10
      pattern: "^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$"
      type: string
    payment_term_type:
      description: "The payment term. Payment can be due upon receipt, a specified\
        \ date, or in a set number of days."
      enum:
      - DUE_ON_RECEIPT
      - DUE_ON_DATE_SPECIFIED
      - NET_10
      - NET_15
      - NET_30
      - NET_45
      - NET_60
      - NET_90
      - NO_DUE_DATE
      title: Payment Term Type
      type: string
    payment_term:
      description: "The payment term of the invoice. Payment can be due upon receipt,\
        \ a specified date, or in a set number of days."
      properties:
        term_type:
          $ref: '#/components/schemas/payment_term_type'
      title: Payment Term
      type: object
    invoice_payment_term:
      allOf:
      - $ref: '#/components/schemas/payment_term'
      - properties:
          due_date:
            $ref: '#/components/schemas/date_no_time'
      description: "The payment term of the invoice. Payment can be due upon receipt,\
        \ a specified date, or in a set number of days."
      title: Invoice Payment Term
      type: object
    template_metadata:
      description: The audit metadata. Captures all template actions on create and
        update.
      properties:
        create_time:
          description: "The date and time, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).\
            \ Seconds are required while fractional seconds are optional.<blockquote><strong>Note:</strong>\
            \ The regular expression provides guidance but does not reject all invalid\
            \ dates.</blockquote>"
          format: ppaas_date_time_v3
          maxLength: 64
          minLength: 20
          pattern: "^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])[T,t]([0-1][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)([.][0-9]+)?([Zz]|[+-][0-9]{2}:[0-9]{2})$"
          type: string
        created_by:
          description: The email address of the account that created the resource.
          readOnly: true
          type: string
        last_update_time:
          description: "The date and time, in [Internet date and time format](https://tools.ietf.org/html/rfc3339#section-5.6).\
            \ Seconds are required while fractional seconds are optional.<blockquote><strong>Note:</strong>\
            \ The regular expression provides guidance but does not reject all invalid\
            \ dates.</blockquote>"
          format: ppaas_date_time_v3
          maxLength: 64
          minLength: 20
          pattern: "^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])[T,t]([0-1][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)([.][0-9]+)?([Zz]|[+-][0-9]{2}:[0-9]{2})$"
          type: string
        last_updated_by:
          description: The email address of the account that last edited the resource.
          readOnly: true
          type: string
      title: Template Metadata
      type: object
    invoice_creation_flow:
      description: The frequency at which the invoice is sent:<ul><li>Multiple recipient.
        Sent to multiple recipients.</li><li>Batch. Sent in a batch.</li><li>Regular
        single. Sent one time to a single recipient.</li></ul>
      enum:
      - MULTIPLE_RECIPIENTS_GROUP
      - BATCH
      - REGULAR_SINGLE
      title: Invoice Creation Flow
      type: string
    metadata:
      allOf:
      - $ref: '#/components/schemas/template_metadata'
      - properties:
          cancel_time:
            $ref: '#/components/schemas/date_time'
          cancelled_by:
            description: The actor who canceled the resource.
            readOnly: true
            type: string
          first_sent_time:
            $ref: '#/components/schemas/date_time'
          last_sent_time:
            $ref: '#/components/schemas/date_time'
          last_sent_by:
            description: The email address of the account that last sent the resource.
            readOnly: true
            type: string
          created_by_flow:
            $ref: '#/components/schemas/invoice_creation_flow'
          recipient_view_url:
            description: The URL for the invoice payer view hosted on paypal.com.
            format: uri
            readOnly: true
            type: string
          invoicer_view_url:
            description: The URL for the invoice merchant view hosted on paypal.com.
            format: uri
            readOnly: true
            type: string
      description: "The audit metadata. Captures all invoicing actions on create,\
        \ send, update, and cancel."
      title: Metadata
      type: object
    invoice_detail:
      allOf:
      - $ref: '#/components/schemas/detail'
      - properties:
          invoice_number:
            description: The invoice number. Default is the number that is auto-incremented
              number from the last number.
            maxLength: 127
            type: string
          invoice_date:
            $ref: '#/components/schemas/date_no_time'
          payment_term:
            $ref: '#/components/schemas/invoice_payment_term'
          metadata:
            $ref: '#/components/schemas/metadata'
      description: "The details of the invoice. Includes invoice number, date, payment\
        \ terms, and audit metadata."
      title: Invoice Detail
      type: object
    business_name:
      description: The business name of the party.
      properties:
        business_name:
          description: Required. The business name of the party.
          maxLength: 300
          type: string
      title: Business Name
      type: object
    name:
      description: The name of the party.
      properties:
        prefix:
          description: "The prefix, or title, to the party's name."
          maxLength: 140
          type: string
        given_name:
          description: "When the party is a person, the party's given, or first, name."
          maxLength: 140
          type: string
        surname:
          description: "When the party is a person, the party's surname or family\
            \ name. Also known as the last name. Required when the party is a person.\
            \ Use also to store multiple surnames including the matronymic, or mother's,\
            \ surname."
          maxLength: 140
          type: string
        middle_name:
          description: "When the party is a person, the party's middle name. Use also\
            \ to store multiple middle names including the patronymic, or father's,\
            \ middle name."
          maxLength: 140
          type: string
        suffix:
          description: The suffix for the party's name.
          maxLength: 140
          type: string
        alternate_full_name:
          description: "DEPRECATED. The party's alternate name. Can be a business\
            \ name, nickname, or any other name that cannot be split into first, last\
            \ name. Required when the party is a business."
          maxLength: 300
          type: string
        full_name:
          description: "When the party is a person, the party's full name."
          maxLength: 300
          type: string
      title: Name
      type: object
    country_code:
      description: "The [two-character ISO 3166-1 code](/docs/integration/direct/rest/country-codes/)\
        \ that identifies the country or region.<blockquote><strong>Note:</strong>\
        \ The country code for Great Britain is <code>GB</code> and not <code>UK</code>\
        \ as used in the top-level domain names for that country. Use the `C2` country\
        \ code for China worldwide for comparable uncontrolled price (CUP) method,\
        \ bank card, and cross-border transactions.</blockquote>"
      format: ppaas_common_country_code_v2
      maxLength: 2
      minLength: 2
      pattern: "^([A-Z]{2}|C2)$"
      type: string
    address_portable:
      description: "The portable international postal address. Maps to [AddressValidationMetadata](https://github.com/googlei18n/libaddressinput/wiki/AddressValidationMetadata)\
        \ and HTML 5.1 [Autofilling form controls: the autocomplete attribute](https://www.w3.org/TR/html51/sec-forms.html#autofilling-form-controls-the-autocomplete-attribute)."
      example:
        country_code: country_code
        admin_area_1: admin_area_1
        address_line_1: address_line_1
        admin_area_3: admin_area_3
        address_details:
          building_name: building_name
          street_number: street_number
          street_type: street_type
          sub_building: sub_building
          delivery_service: delivery_service
          street_name: street_name
        admin_area_2: admin_area_2
        address_line_3: address_line_3
        address_line_2: address_line_2
        admin_area_4: admin_area_4
        postal_code: postal_code
      properties:
        address_line_1:
          description: "The first line of the address. For example, number or street.\
            \ For example, `173 Drury Lane`. Required for data entry and compliance\
            \ and risk checks. Must contain the full address."
          maxLength: 300
          type: string
        address_line_2:
          description: "The second line of the address. For example, suite or apartment\
            \ number."
          maxLength: 300
          type: string
        address_line_3:
          description: "The third line of the address, if needed. For example, a street\
            \ complement for Brazil, direction text, such as `next to Walmart`, or\
            \ a landmark in an Indian address."
          maxLength: 100
          type: string
        admin_area_4:
          description: "The neighborhood, ward, or district. Smaller than `admin_area_level_3`\
            \ or `sub_locality`. Value is:<ul><li>The postal sorting code for Guernsey\
            \ and many French territories, such as French Guiana.</li><li>The fine-grained\
            \ administrative levels in China.</li></ul>"
          maxLength: 100
          type: string
        admin_area_3:
          description: "A sub-locality, suburb, neighborhood, or district. Smaller\
            \ than `admin_area_level_2`. Value is:<ul><li>Brazil. Suburb, bairro,\
            \ or neighborhood.</li><li>India. Sub-locality or district. Street name\
            \ information is not always available but a sub-locality or district can\
            \ be a very small area.</li></ul>"
          maxLength: 100
[...]
